{
  "ConnectionStrings": {
    "DefaultConnection": "Host=yourHost;Port=yourPort;Database=yourDatabase;Username=yourUserName;Password=YourPassword"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  
  "JWT": {
    "ValidAudience" : "http://localhost:3000",
    "ValidIssuer": "https://localhost:7019",
    "Secret": "JWTAuthenticationHighlySecuredSecretKey12345"
  }
}
