.search-form{
    background-color: aquamarine;
    position: absolute;
    height: 100vh;
    width: 30%;
}

.card-container{
    background-color: bisque;
    width: 70%;
    margin-left: 30%;
    height: 100vh;
}

.search-button{
    width: 200px;
    margin: auto;
    display: none;
}

@media screen and (max-width:1000px) {
    .search-button{
        display: block;
        margin: 1rem auto;
    }
    .search-button.hidden{
        display: none;
        margin: 1rem auto;
    }
    .card-container{
        width: 100%;
        margin-left: 0;
    }

    .search-form{
        width: max(80%, 300px);
        left: -100%;
        transition: all 0.5s ease;
    }
    .search-form.active{
        left: 50%;
        transform: translate(-50%, 0%);
        transition: all 0.6s ease;
    }
}