.event-card{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.5rem;
    
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--text-secondary);

    max-width: 30%;
    min-width: 260px;
    height: 450px;
    /* width: 200px;
    height: 320px; */
}
.card-buttons{
    padding-top: 1rem;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.event-card h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.event-card h3, .event-card>p{
    display: flex;
    gap: 0.25rem;
    align-items: center;
}
.event-card h3{
    font-size: 1rem;
    font-weight: 400;
}
.event-card p{
    font-size: 0.75rem;
}

.date-icon-container{
    display: flex;
    align-items: center;
    gap:0.25rem;
}

.card-icon{
    font-size: 1.5rem;
}

.event-description{
    color: var(--text-secondary);
}